.App {
  background-color: #282c34;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  color: white;
}

.Container {
  background-color: white;
  border: 1px black solid;
  border-radius: 2px;
  height: 783px;
  margin-right: 150px;
}

.App, .Container, .Canvas {
  display: flex;
}

.Options {
  width: 245px;
  font-size: large;
}

.Cell {
  height: 25px;
  width: 25px;
  border: .5px #cccccc dashed;
}

.Selected {
  opacity: 1;
}

.Deselected {
  opacity: .5;
}

form {
  color: black;
}

label, input {
  font-size: large;
  margin: 5px;
}